<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipselabs.org/emf/scaffolding/StatusCache/1.0.0"
            class="org.eclipselabs.emf.scaffolding.runtime.status.scaffoldingStatusCache.ScaffoldingStatusCachePackage"
            genModel="model/ScaffoldingStatusCache.genmodel"/>
   </extension>

</plugin>
