<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Xtext Helios" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.6.1.M20100909-0800"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="org.eclipse.emf.compare.sdk.feature.group" version="1.1.1.v201009150438"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="1.0.1.v201008251220"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location path="${resource_loc:/org.eclipselabs.emf.scaffolding.target/plugins}" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>fr_FR</nl>
</environment>
</target>
