<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipselabs.emf.scaffolding"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipselabs.emf.scaffolding.session.emfscaffoldingsession.presentation.EMFScaffoldingSessionModelWizardID"
            name="%_UI_EMFScaffoldingSessionModelWizard_label"
            class="org.eclipselabs.emf.scaffolding.session.emfscaffoldingsession.presentation.EMFScaffoldingSessionModelWizard"
            category="org.eclipselabs.emf.scaffolding"
            icon="icons/fire.png">
         <description>%_UI_EMFScaffoldingSessionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipselabs.emf.scaffolding.session.emfscaffoldingsession.presentation.EMFScaffoldingSessionEditorID"
            name="%_UI_EMFScaffoldingSessionEditor_label"
            icon="icons/fire.png"
            extensions="ess"
            class="org.eclipselabs.emf.scaffolding.session.emfscaffoldingsession.presentation.EMFScaffoldingSessionEditor"
            contributorClass="org.eclipselabs.emf.scaffolding.session.emfscaffoldingsession.presentation.EMFScaffoldingSessionActionBarContributor">
      </editor>
   </extension>

</plugin>
